.meet {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url('../../images/stories-square.png'), url('../../images/stories-circle.png');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-color: $storiesBg;
}

.meet__inner {
    .meet__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
        height: 95px;
    }
}

.meet__list {
    display: flex;
    justify-content: space-between;

    .meet__item {
        text-align: center;
        margin-top: 24px;
        padding-top: 16px;
        width: 320px;
        height: 200px;
        background-color: $darkblue;
        line-height: 1.5;

        h4 {
            font-weight: 700;
            font-size: 18px;
            color: #79C8C7;
        }

        i {
            font-size: 15px;
            color: #fff;
        }

        p {
            margin-top: 8px;
            font-weight: 600;
            font-size: 15px;
            color: #fff;
            width: 250px;
            height: 70px;
            margin: 0 auto;
        }
    }
    .bg-content{
        line-height: 1.5;
        background-color: #002529;
    }
    .meet__social{
        img{
            padding: 8px 12px;
        }
    }
}