.clients {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: $darkblue;
    background-image: url('../../images/clients-bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
    }
    .clients__logo{
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
    }
}
